<div class="menulateral">
    <div class="menulateral--dadospessoais">
        <img src="dadospessoais.png" alt="Dados pessoais" class="menulateral--dadospessoais--icone">
        <p class="menulateral--texto">Dados pessoais</p>
    </div>

    <div class="menulateral--meuspedidos">
        <img src="pedidos.png" alt="Meus pedidos" class="menulateral--meuspedidos--icone">
        <p class="menulateral--texto">Meus pedidos</p>
    </div>

    <div class="menulateral--meuendereco">
        <img src="endereco.png" alt="Meu endereço" class="menulateral--meuendereco--icone">
        <p class="menulateral--texto">Meu endereço</p>
    </div>

    <div class="menulateral--devolucao">
        <img src="devolucao.png" alt="Trocas e devoluções" class="menulateral--devolucao--icone">
        <p class="menulateral--texto">Trocas e devoluções</p>
    </div>

    <div class="menulateral--alterarsenha">
        <img src="alterarsenha.png" alt="Alterar senha" class="menulateral--alterarsenha--icone">
        <p class="menulateral--texto">Alterar senha</p>
    </div>

    <div class="menulateral--sair">
        <img src="sair.png" alt="Sair" class="menulateral--sair--icone">
        <p class="menulateral--texto">Sair</p>
    </div>
</div>


<div class="dadospessoais">
    <p class="dadospessoais--titulo">Dados pessoais</p>

    <div class="dadospessoais--bloco">
        <p><b>Nome completo: </b>NOME COMPLETO</p>
        <p><b>E-mail: </b>EMAIL&#64;EMAIL.COM.BR</p>
        <p><b>Telefone celular: </b>11940028922</p>
        <p><b>CPF: </b>111.222.333-44</p>
    </div>

    <div class="dadospessoais--botao">
        <p>Editar</p>
        <p>Salvar</p>
    </div>
</div>