.desconto-pix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

    background-color: var(--verde-escuro);
    color: var(--texto-escuro);
    font-family: var(--fonte-textos);
    font-size: var(--tamanho-textos);
}

.cabecalho {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #000000;
}

.cabecalho--logotipo {
    max-width: 70px;
    width: 100%;
    height: auto;
    display: block;

    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.cabecalho--direita {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    margin-right: 2%;
}

.cabecalho--barrapesquisa--input {
    border-radius: 50px;
    width: 265px;
    height: 35px;

    background-color: var(--cinza-padrao);

    background-image: url('/pesquisar.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 18px;
}

.cabecalho--minhaconta, .cabecalho--carrinho {
    display: flex;

    max-width: 35px;
    max-height: 35px;
    width: 100%;
    height: auto;
}