<div class="desconto-pix">
    <p>Você ganha 5% de desconto pagando com pix!</p>
</div>

<div class="cabecalho">
    <img src="logotipo.png" alt="Logotipo" class="cabecalho--logotipo">

    <div class="cabecalho--direita">
        <div class="cabecalho--barrapesquisa">
            <input type="text" class="cabecalho--barrapesquisa--input">
        </div>

        <img src="minhaconta.png" alt="Minha Conta" class="cabecalho--minhaconta">

        <img src="carrinho.png" alt="Carrinho" class="cabecalho--carrinho">
    </div>
</div>