<footer class="rodape">
    <div class="rodape--esquerda">
        <img src="logotipo.png" alt="Logotipo" class="rodape--esquerda--logotipo">
    </div>

    <div class="rodape--imagem">
        <img src="instagram.png" alt="Instagram" class="rodape--imagem--instagram">
        <img src="whatsapp.png" alt="Whatsapp" class="rodape--imagem--whatsapp"> 
        <img src="email.png" alt="E-mail" class="rodape--imagem--email">
    </div>

    <div class="rodape--nome">
        <p>&#64;instagram</p>
        <p>11 940028922</p>
        <p>email&#64;email.com.br</p>
    </div>
</footer>