.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo--login {
    font-family: var(--fonte-textos);
    color: var(--texto-escuro);

    background-color: var(--verde-musgo);
    width: 250px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 20px;

    margin-top: 2%;
    margin-bottom: 2%;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    border: 1px solid #000000;
    border-radius: 20px;
    width: 500px;
}

.formulario--input--descricao {
    margin-top: 10%;
    font-family: var(--fonte-textos);
}

.formulario--input--entrada {
    width: 300px;
    height: 25px;
    border-radius: 30px;
    background-color: var(--cinza-padrao);
    padding-left: 10px;
}

.formulario--botao {
    margin-top: 4%;
    margin-bottom: 3%;

    font-family: var(--fonte-textos);
    background-color: var(--rosa-claro);
    font-size: var(--tamanho-textos);
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #000000;
}

.formulario--botao:hover {
    color: var(--texto-escuro);
    background-color: var(--verde-musgo);
}


.chamada {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.chamada--texto {
    text-decoration: none;
    color: #000000;
    font-family: var(--fonte-textos);
    font-size: var(--tamanho-textos);
}