<app-cabecalho></app-cabecalho>

<div class="categorias">
    <p class="categorias--texto">Organização</p>
    <p class="categorias--texto">Lembrancinhas</p>
    <p class="categorias--texto">Bolsas</p>
    <p class="categorias--texto">Mesa Posta</p>
    <p class="categorias--texto">Kits</p>
</div>

<div class="maisvendidos">
    <h1 class="maisvendidos--titulo">Mais vendidos</h1>

    <div class="maisvendidos--produto">
        <div class="maisvendidos--produto--card">
            <img src="portatreco.png" alt="Porta treco">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="chaveiro.png" alt="Chaveiro">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="bolsa.png" alt="Bolsa">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="carteira.png" alt="Carteira">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="portaprato.png" alt="Porta prato">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="portacopo.png" alt="Porta copo">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="kit2.png" alt="Kit com caixinha, porta treco com tampa e porta treco sem tampa">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>

        <div class="maisvendidos--produto--card">
            <img src="kit2.png" alt="Kit com caixinha, porta treco com tampa e porta treco sem tampa">
            <p class="maisvendidos--produto--card--vermais">Ver mais</p>
        </div>
    </div>
</div>

<div class="colecaodomes">
    <h1 class="colecaodomes--titulo">Coleção do mês</h1>

    <div class="colecaodomes--produto">
        <div class="colecaodomes--produto--card">
            <img src="coracao.png" alt="Caixa de coração com bombons dentro">
            <p class="colecaodomes--produto--card--vermais">Ver mais</p>
        </div>

        <div class="colecaodomes--produto--card">
            <img src="coelho.png" alt="Coelho segurando um coração">
            <p class="colecaodomes--produto--card--vermais">Ver mais</p>
        </div>
    </div>
</div>

<app-rodape></app-rodape>