<div class="titulo">
    <h1 class="titulo--cadastro">Cadastro</h1>
</div>

<div class="formulario">
    <div class="formulario--input">
        <p class="formulario--input--descricao">*Nome completo:</p>
        <input class="formulario--input--entrada" type="text">
    </div>

    <div class="formulario--input">
        <p class="formulario--input--descricao">*CPF:</p>
        <input class="formulario--input--entrada" type="text">
    </div>

    <div class="formulario--input">
        <p class="formulario--input--descricao">*Telefone celular:</p>
        <input class="formulario--input--entrada" type="text">
    </div>

    <div class="formulario--input">
        <p class="formulario--input--descricao">*E-mail:</p>
        <input class="formulario--input--entrada" type="text">
    </div>

    <div class="formulario--input">
        <p class="formulario--input--descricao">*Senha:</p>
        <input class="formulario--input--entrada" type="text">
    </div>

    <div class="formulario--input">
        <p class="formulario--input--descricao">*Confirme a senha:</p>
        <input class="formulario--input--entrada" type="text">
    </div>

    <p class="formulario--botao">Cadastrar</p>
</div>

<div class="chamada">
    <a routerLink="/login" class="chamada--texto">Já tem cadastro? <b><i>Clique aqui</i></b></a>
</div>
