:root {
    --verde-escuro: #084313;
    --cinza-padrao: #D9D9D9;
    --rosa-claro: #FEE9E6;
    --verde-musgo: #818B11;

    --texto-escuro: #FFFFFF; /* branco */
    --fonte-textos: 'Inter';
    --tamanho-textos: 15px;
    --tamanho-vermais: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}