:root {
    --verde-escuro: #084313;
    --cinza-padrao: #D9D9D9;

    --texto-escuro: #FFFFFF;
    --fonte-textos: 'Inter';
    --tamanho-textos: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}